// 颜色变量
$theme-color: #e54847;
$white-color: #fff;
$gray-color: #666;
$color-person: #faaf00;
$border-color: #e8e8e8;

// 字体大小变量
$xxxs-font: 10px;
$xxs-font: 11px;
$xs-font: 12px;
$sm-font: 13px;
$s-font: 14px;
$ms-font: 15px;
$m-font: 16px;
$xm-font: 17px;
$l-font: 18px;
$xl-font: 20px;
$xxl-font: 22px;
